:root {
  /* // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900 */
  /*   
  .roboto-condensed-<uniquifier> {
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
   */

  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Inter", sans-serif; */

  --mainColor: #4f9fa1;
  --secondaryColor: #e7e7e7;
  --thirdColor: #575656;

  /* WALGREENS COLORS */
  /* #64847f
https://www.walgreens.com/livestyleguide/walgreens.com/v3.0/pages/lsg/colors.html
*/

  /* COLORS FOR DISCOVER: */
  /* --primary: #178669; */
  --primary: var(--primary-light);
  --primary-light: #14a381;

  --left-column-background: white;
  /* --left-column-background: #cfcfcf; */
  /* --left-column-background: rgb(255, 255, 255); */
  --sidebar-font-item-color: rgb(90, 90, 90);
  --sidebar-font-header-color: rgb(56, 56, 56);
  --sidebar-cards: #e4e4e4;
  --sidebar-card-header: #cfcfcf;
  --sidebar-card-item-hover: #d8d8d8;

  --right-column: #e4e4e4;

  --card-font-color: ;
  --card-hover: #daf4fd;
  --card-color: #ffffff;
  /* --vertical-expand-bar: #cfcfcf; */
  --vertical-expand-bar: var(--left-column-background);
  --scrollbar-background: transparent;
  --scrollbar-color: #404040;

  /* COLORS FOR DISCOVER PREV THEME:
  --primary: #8aafbe;
  --primary-light: #e2e2e2;
  --sidebar-card-header: #6e99aa;

  --sidebar-font-item-color:rgb(255, 255, 255);
  --sidebar-font-header-color: rgb(255, 255, 255);

  --card-font-color: ;
  --card-hover: #e6eff1;
  --card-color: #ffffff;
  --right-column: #ffffff;
  --vertical-expand-bar: #cccccc;
  --scrollbar-background: transparent ;
  --scrollbar-color:var(--vertical-expand-bar); */
}
/* COLOR SCHEMES: */
/* FILTER:
https://angel-rs.github.io/css-color-filter-generator/
 */
/* #2ccebb */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes expand {
  from {
    width: 0px;
    opacity: 0%;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
}
@keyframes error {
  0% {
    background-color: white;
    margin-left: 0%;
    /* opacity: 0%; */
  }
  50% {
    margin-left: 80%;
  }
  100% {
    /* opacity: 100%; */
    background-color: rgb(252, 156, 156);
    margin-left: 0%;
  }
}

body {
  height: 100%;
  margin: 0px;
}
html {
  height: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #cccccc;
}
/* style a to look like button */
.button {
  box-shadow: 0 0px 10px #00000081;
  font-size: 1.5em;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}
/* Home css: */

/* navbar css: */
.navbar {
  display: flex;
  align-items: center;
  column-gap: 90px;
  padding-left: 30px;
  background-color: white;
  /* box-shadow: 0 5px 10px #ffffff81; */

  color: rgb(0, 0, 0);
  a {
    color: rgb(0, 0, 0);
  }
}
.navbar--home-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  :hover {
    cursor: pointer;
  }
}
.navbar img {
  /* filter: brightness(0) saturate(100%) invert(74%) sepia(38%) saturate(805%)
    hue-rotate(118deg) brightness(89%) contrast(87%); */
  width: 70px;
  padding: 0.5em;
}
.action-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 2em;
  .signup {
    border: 1px rgb(126, 126, 126) solid;
    border-radius: 10px;
    padding: 0.6em;
  }
}

/* signin css: */
.signin-background {
  width: 194.2vh;
  height: 100vh;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #272727;
}
.signin {
  background-color: #303335;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px #ffffff solid;
  padding: 2em;
  border-radius: 20px;
  min-width: 15em;
  box-shadow: 0 0px 40px #00000081;
}
.signin h1 {
  text-align: center;
  margin: 0.2em;
}
.signin label {
  font-size: 0.6em;
}
.signin img {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(34%)
    hue-rotate(257deg) brightness(92%) contrast(84%);
}
.signin--input-box {
  display: flex;
  border-bottom: 0.1em #6e6969 solid;
  align-items: center;
  .input-field {
    padding: 0.3em;
    flex: 1;
    align-items: baseline;
  }
}

.bottom-signup {
}
.signin--input-box:hover {
  border-bottom: 0.1em white solid;
}
.btn {
  border: 1px white solid;
  border-radius: 10px;
}
.login {
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0px 30px #00000081;
  width: 100%;
}
.signin input {
  padding: 1em;
  width: 10em;
  border: none;
  background-color: transparent;
}
.signin input:focus {
  outline: none;
}
.signin--forgot-password {
  margin-top: 1em;
  font-size: 0.5em;
  text-align: right;
}
.signin--forgot-password a {
  color: #ffffff;
}
.signin--after-input-container {
  text-align: center;
  font-size: 0.5em;
}
.signin--login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    width: 100%;
  }
}
/* User Nav Bar */
.userNavBar {
  text-align: center;
  padding: 20px;
}
/* Discover css: */
.header-container {
  background-color: var(--primary-light);
  .search-bar {
    position: relative;
    z-index: 4;
    /* border-radius: 10px; */
    box-shadow: 0 0px 5px #00000081;
    font-size: 0.7em;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4em;
    padding: 1em;
    .header {
      text-wrap: nowrap;
      text-align: center;
      flex: 0.2;
      font-size: 3em;
      color: white;
      min-width: 200px;
    }
    .settings {
      background-color: white;
      cursor: pointer;
      margin-left: auto;

      /* border- */
      width: 3em;
    }
    .logout {
    }
    .logout:hover {
      cursor: pointer;
    }
  }
  .page-info-bar {
    position: relative;
    z-index: 3;
    box-shadow: 0 2px 10px #00000081;

    padding-top: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    /* overflow: hidden; */
    height: 4.5em;
    .header {
      text-wrap: nowrap;
      text-align: center;
      flex: 0.2;
      font-size: 1.5em;
      color: white;
      margin-left: 0.25em;
    }

    .left-margin {
      width: 139px;
      height: 100%;
    }
    .filter-bar {
      margin-left: auto;
      margin-right: auto;
      user-select: none;
      display: flex;
      gap: 2em;
      height: 5em;
      .vertical-border {
        margin-top: 7px;
        margin-bottom: auto;
        height: 50px;
        border-right: 1px rgb(255, 255, 255) solid;
      }
      .sort-main-container {
      }
      .option-container {
        overflow: hidden;

        cursor: pointer;
        margin: 0.5em 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Inter", sans-serif;
        max-width: 4.5em;

        /* option upwards animation */
        .option-if-slidebar-active {
          height: 0px;
          translate: 0px -100px;
          opacity: 0%;
          transition: 0.3s ease-in-out all;
          /* transition-delay: "0.5s"; */
        }
        .option-if-slidebar-inactive {
          height: 50px;
          transition: 0.3s ease-in-out all;
        }

        .sort-container {
          display: flex;
          margin-left: 30%;
          /* flex-direction: column; */
          /* align-items: center; */
          width: 48.67px;
          height: 50.58px;
          font-size: 12.8px;
          /* font-size: 0.8em; */
          .toggle-container {
            display: flex;
            gap: 2em;
          }
          .toggle-container:hover {
            /* translate: -2em; */
          }
          .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 33px;
            max-width: 33px;
            /* max-height: 50px; */
            /* min-height: 54px; */
            img {
              translate: 2px -5px;
              font: 1em sans-serif;
              width: 24px;
              filter: brightness(100);
            }
          }
        }
        /* sort upwards animation */
        .sort-inactive {
          /* translate: 0px 100px; */
          /* transform: scale(0); */
          height: 0px;
          opacity: 0%;
          /* translate: 0px -50px; */
          transition: 0.3s ease-in-out all;
        }
        .sort-active {
          translate: 0px -0px;
          transform: scale(1);
          /* height: auto; */
          translate: 0px 7px;
          transition: 0.3s ease-in-out all;
        }

        .option {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .option:hover {
          opacity: 50%;
          transition: 0.3s ease-in-out all;
        }
        .active {
          border-bottom: 2px rgb(255, 255, 255) solid;
          animation: expand 0.2s ease-in-out;
        }
        .icon {
          width: 24px;
          max-width: 1.5em;
          max-height: 1.5em;
          filter: brightness(100);
          margin-bottom: 0.4em;
        }
        .name {
          font-size: 0.8em;
          text-wrap: nowrap;
        }
        .hover-border {
          margin-top: 0.5em;
          width: 100%;
          min-height: 0.3em;
        }
        .bottom-border {
          margin-top: 0.2em;
          width: 100%;
          min-height: 0.3em;
        }
      }
    }

    .page-container {
      display: flex;
      justify-content: center;
      column-gap: 1em;
      padding: 1em;
      /* margin: 10px; */
      .page {
        box-shadow: 0 0px 10px #00000081;
        border-radius: 5px;
        color: black;
        background-color: white;
        text-align: center;
        width: 25px;
        /* border: 1px white solid; */
        padding: 4px;
        cursor: pointer;
      }
    }
  }
}

.discover-page {
  height: 100%;
  background-color: var(--primary-light);
  overflow: hidden;
  .discover {
    display: flex;
    height: 100%;
    /* border-top: 3px var(--vertical-expand-bar) solid; */

    .no-results {
      font-size: 1.5em;
      color: black;
      align-self: center;
      margin: auto;
    }
    .right-column {
      flex: 1;
      background-color: var(--right-column);
    }
    .simulate-drop-down {
      background-color: crimson;
      padding: 0.1em;
    }
  }
}
/* CARDS */
.card-grid {
  padding: 1em 3em;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 85vh;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background);
  /* margin: 0em 1em; */
  display: grid;
  /* grid-template-rows: 15em; */
  /* grid-auto-rows: 21.3em; */
  grid-auto-rows: 23.5em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  column-gap: 4em;
  row-gap: 2em;
}
.doc-card:hover {
  /* background-color: var(--card-hover); */
  cursor: pointer;
}

.doc-card {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  min-width: 18.25em;
  max-width: 18.25em;
  scroll-snap-align: start;
  border-radius: 10px;
  box-shadow: 0 0px 5px #00000081;
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  color: black;
  padding: 1em;
  padding-top: 0em;
  /* margin: 1em; */

  /* card items */
  .bookmark-container {
    min-height: 1em;
  }
  .save {
    width: 1.5em;
    transform: translate(220px, 5.5px) scale(2.3);
  }
  .saveFill {
    object-fit: fill;

    filter: brightness(0) saturate(100%) invert(39%) sepia(26%) saturate(1874%)
      hue-rotate(317deg) brightness(91%) contrast(91%);
  }
  .saveEmpty {
    transform: translate(220px, 8px) scale(2.3);

    object-position: 0 -8px;
    filter: brightness(0) saturate(100%) invert(9%) sepia(10%) saturate(735%)
      hue-rotate(222deg) brightness(94%) contrast(94%);
    transition: 0.2s ease-in-out all;
  }
  .saveEmpty:hover {
    object-position: 0 -2.4px;
    transition: 0.2s ease-in-out all;
  }

  .title-container {
    padding: 1em 1.2em;
    flex: 3;
    display: flex;
    max-height: 15.6em;
    min-height: 15.6em;
    .title {
      /* min-width:4.6em; */
      /* min-width: 100%; */
      font-size: 3.4em;
      display: block;
      overflow-y: auto;
      scrollbar-width: none;
      text-overflow: ellipsis;
      text-wrap: wrap;
      line-height: 1.28em;
      font-family: "Inter", sans-serif;
      /* font-weight: 200; */
      /* transition: 1s ease-in-out all; */
    }
    /* .title:hover{
      overflow-y: auto;
      scrollbar-width:thin; 
      scrollbar-color: rgb(182, 182, 182) transparent;
    } */
  }
  .date-star-container {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    /* align-items:center; */
    align-items: start;
    color: grey;
    flex: 2;
    .updated {
      /* margin-right: 0px; */
    }
    .rating-container {
      display: flex;
      align-items: center;
      gap: 4px;

      .rating {
      }
      .star {
        width: 1em;
        transform: translate(0, -0.1em);
      }
    }
  }
  .type-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .open-api {
      flex: 2;
      /* font-size: 1.5em; */
    }
    .status-icon {
      flex: 0.4;
    }
  }

  .actions-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    /* Prevents growing and shrinking */
    flex: 0 0 auto;
    margin: 0.5em 0em;
    align-items: center;
    justify-content: space-around;

    .container:hover {
      transform: scale(1.1);
    }
    .container {
      border-radius: 10px;
      padding: 5px;
      .action-icon {
        width: 24px;
      }
      .active {
        filter: brightness(100);
      }
    }
    .active-container {
      background-color: var(--primary);
    }
  }

  /* DOC CARD ADD ANIMATION */
  .info-action {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    img {
      width: 1.5em;
    }
    .key {
      font-size: 0.9em;
      color: #707070;
    }
    .value {
    }

    .loading {
      animation: rotate 1.5s ease-in-out infinite;
    }

    .description-container {
      min-height: 8em;
      max-height: 8em;
      display: flex;
      flex-direction: column;
      /* height: 2em; */
      /* overflow: hidden; */
      .description {
        color: rgb(78, 78, 78);
        overflow-y: auto;
        scrollbar-color: #1d1b20 transparent;
        /* text-overflow: */
        line-height: 1.2em;
      }
    }
    .servers-container {
      min-height: 70px;
      max-height: 70px;
      overflow-y: auto;
      scrollbar-color: #1d1b20 transparent;
      /* .server-keys-container{
        display: flex;
        gap: 1em
      } */
      .server-container {
        display: flex;
        gap: 0.5em;
        .server-address {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .status {
          width: 1em;
          /* crop deny icon (and all others) */
        }
      }
    }
    .extra-info-container {
      flex: 2;
      display: flex;
      justify-content: space-between;
    }
    .contact-container {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .contact-item-container {
      flex: 1;
      display: flex;
      gap: 0.5em;
      /* max-width: auto; */

      .contact-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    /* overflow: hidden; */
    /* height: 0px;

    
    transition: 0s linear all;
    transition-delay: 0.2s; */
  }
  .comment-action {
    background-color: var(--primary-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    color: white;
    height: 100%;
    .notes-header {
      text-align: center;
      text-wrap: wrap;
      font-size: 1.5em;
      padding-bottom: 0.2em;
    }
    .notes-input {
      /* border-radius: 10px; */
      background-color: rgb(231, 231, 231);
      width: 100%;
      height: 100%;
      color: black;
      font-size: 1.2em;
    }
    .prev-notes {
      background-color: #8a8a8a;
    }

    .notes-input::placeholder {
      color: rgb(145, 145, 145);
    }
  }
  .add-action {
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    overflow-y: hidden;
  }
}
/* Info section (when card flipped) */

/* add projects animation/action */
.projects-container {
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
  padding: 0px;
  display: flex;
  flex-direction: column;
  /* background-color: #f5f5f5; */

  flex: 1;

  .projects-header {
    font-size: 1.2em;
    text-align: center;
    background-color: var(--primary);
    /* margin-bottom: 10px; */
    padding: 5px;
    border-radius: 20px;
    color: white;
  }
  .projects-body {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    height: 100%;
    padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(206, 206, 206) transparent;
    padding-left: 15px;

    font-size: 16px;

    .form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input-container {
        /* border-bottom: 1px #4e4e4e solid; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 1.8em; */
        .add-box {
        }
        input::placeholder {
          color: #888888;
        }
      }
      .icon {
      }
      input {
        /* font-family: "Inter", sans-serif; */
        /* font-family: "Roboto Condensed", sans-serif; */

        height: 24px;
        font-size: 14px;
      }
    }
    .add-project-body {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      background: white;
      padding: 8px;
      border-radius: 20px;
    }
    .add-project-body:hover {
      div,
      img {
        filter: brightness(0%);
        /* font-weight: 500; */
      }
      filter: brightness(95%);
      opacity: 60%;
    }

    .add-project-button {
      max-height: 37px;
      transition: 0.2s ease-in-out all;
      /* border-radius: 20px; */
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      /* padding: 8px; */
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      div {
        color: rgb(148, 148, 148);
        font-size: 14px;
      }
      .add-icon {
        filter: brightness(5);
        width: 10px;
        /* padding-bottom: 1.5px; */
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 0.4em;
      filter: brightness(0) saturate(100%) invert(61%) sepia(70%)
        saturate(5530%) hue-rotate(137deg) brightness(93%) contrast(84%);
    }

    .underline {
      margin-left: auto;
      margin-right: auto;
      border-top: 1px #4e4e4e solid;
      width: 100%;
      margin-bottom: 10px;
    }

    .item-container {
      justify-content: space-between;
      display: flex;
      align-items: center;
      .checked {
        filter: brightness(0) saturate(100%) invert(61%) sepia(70%)
          saturate(5530%) hue-rotate(137deg) brightness(93%) contrast(84%);
      }

      .item {
        /* color: #4e4e4e; */
      }
    }
    .icon:hover {
      transform: scale(1.1);
      /* width: 1.6em; */
    }
    .item-container:hover {
      /* background-color: var(--primary-light); */
      /* color: var(--primary); */
      /* opacity: 80%; */
      color: rgb(85, 85, 85);
    }
  }
}
/* LEFT COLUMN: */
.left-column {
  background-color: var(--left-column-background);
  .divider {
    height: 86.9vh;
    background-color: var(--right-column);
    /* animated to move left on close */
    display: flex;
    flex-direction: row-reverse;
    /* .right-split-placeholder {
    width: 15.4em;
    background-color: rgb(255, 255, 255);
  } */
    /* .right-split-background{
    background-color:var(--primary-light);
  } */
    .right-split {
      box-shadow: 5px 4px 5px #5a5a5a81;

      position: relative;
      z-index: 3;
      /* border-top-right-radius: 20px; */
      display: flex;
      background-color: var(--vertical-expand-bar);
      /* border-top-left-radius: 10px; */
      width: 1.4em;
      cursor: pointer;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      /* border-right:3px rgb(49, 46, 46) solid; */
      img {
        filter: brightness(0%);
        transform: rotate(90deg);
        /* transform: scale(10, 10); */
      }
    }
    .left-split {
      text-align: center;
      background-color: var(--primary-light);
      height: 100%;
      /* width: 0px; */

      .side-bar {
        background-color: var(--left-column-background);
        position: relative;
        z-index: 10;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 15em;
        height: 100%;
        color: #141124;
        /* background-color: white; */
        gap: 1em;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        .scrollos-container {
          width: 240px;
          display: flex;
          justify-content: center;
          padding-top: 1em;
          .scrollos-icon {
            width: 3em;
          }
          .scrollos-text-container {
            text-align: left;
            padding-left: 1em;
            line-height: 1.2em;
            margin-top: auto;
            margin-bottom: auto;
            .intro {
              color: #9b9b9b;
              font-weight: 500;
              text-wrap: nowrap;
            }
            .header {
              font-size: 1.2em;
              text-wrap: nowrap;
            }
          }
        }
        .slider-container {
          width: 220px;

          display: flex;
          border-radius: 20px;
          font-size: 1em;
          background-color: var(--right-column);
          margin-left: 10px;
          margin-right: 10px;
          font-weight: 500;
          .slider-option {
            padding: 10px 20px;
          }
          .selected {
            background-color: var(--primary);
            color: white;
            border-radius: 20px;
          }
        }

        /* dropdown */
        .dropdown-item {
          font-size: 1em;
          text-align: left;
          padding: 0.3em;
          padding-left: 2em;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          margin-top: 0.2em;
          width: 9em;
        }
        .dropdown-item:last-child {
          margin-bottom: 0.5em;
        }
        .dropdown-item:hover {
          cursor: pointer;
          background-color: #ebebeb;
        }
        /* .sidebar-dropdown{
          display: flex;
          padding-left: 2em;;
          flex-direction: column;
          align-self: start;
          gap:.3em;
         
        } */

        .sidebar-items-container {
          font-size: 0.9em;
          display: flex;
          flex-direction: column;
          align-items: left;
          height: 100%;
          gap: 1em;
          img {
            max-width: 24px;
            min-width: 24px;
          }
          .sidebar-item-container:hover {
            cursor: pointer;
            background-color: rgb(235, 235, 235);
          }

          .sidebar-item-container {
            max-height: 3.5em;
            width: 15.5em;
            padding: 0.3em;
            display: flex;
            align-items: center;
            padding-left: 1em;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            .sidebar-item {
              padding-left: 1em;
            }
          }
          /* border */
          .bottom-border {
            border-bottom: 1.5px #a8a8a8 solid;
            width: 220px;
            flex: 1;
            /* margin-top: auto; */
            align-self: center;
          }
          /* account items */
          .account-items-container {
            flex: 1;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            .account-header {
              color: #9b9b9b;

              text-align: left;
              font-size: 0.8em;
              margin-left: 1em;
            }
            .settings {
              flex: 1;
            }
            .notifications {
              flex: 1;
            }
            .user-info {
              width: 240px;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: end;
              padding-bottom: 1.5em;
              flex: 10;
            }
          }
        }
      }

      /* cards: */

      .cards-flexbox {
        /* set card positioning */
        margin-top: 160px;
        margin-left: 10px;
        color: black;
        width: 14em;
        display: flex;
        flex-direction: column;
        padding: 0px;

        .card-container {
          padding-bottom: 20px;
          border-radius: 10px;
          min-height: 13.3em;
          /* padding-bottom: 100px; */
          /* OR USE DARKER BLUE: var(--primary) */
          padding: 1em;
          background-color: var(--sidebar-cards);
          /* background-color: var(--primary); */
          display: flex;
          flex-direction: column;
          box-shadow: 0 0px 20px #00000081;
          color: var(--sidebar-font-item-color);

          .card-header {
            color: var(--sidebar-font-header-color);

            padding: 0.5em;
            border-radius: 0.5em;
            text-align: center;
            width: 100%;
            align-self: center;
            font-size: 1.3em;
            margin: 0.2em;
            background-color: var(--sidebar-card-header);
            /* disable text selection to prevent accidental selections on click */
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
          }
          .card-item {
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .card-header:hover,
          .card-item:hover {
            cursor: pointer;
          }
          .card-item:hover {
            background-color: var(--sidebar-card-item-hover);
          }
        }

        /* animate cards */
        .card-view-animate:hover {
          margin-bottom: 130px;
          transition: 0.3s ease-in-out all;
        }
        .recently-viewed {
          z-index: 1;
          /* position: relative; */
        }
        .recent-bookmarks {
          z-index: 2;
          transform: translate(0, -135px);
        }
        .flagged {
          z-index: 3;
          transform: translate(0, -270px);
        }
        .notes {
          z-index: 4;
          transform: translate(0, -405px);
        }
      }
    }
  }
}

/* ApiDocsViewer */
.apiDocViewer {
  margin-top: 0px;
  height: 100vh;
  div {
  }
}
.scheme-container {
  background-color: rgb(219, 219, 219) !important;
}
/* hide labels: */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Search box css: */

.search--container {
  display: fixed;
  /* margin-left: auto;
  margin-right: auto; */
  /* height: 50.39px; */
  /* box-shadow: 0 0px 10px #00000081; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  background-color: white;
}
.search-form {
  display: flex;
  width: 100%;
  justify-content: center;
  /* width: fit-content; */
}
.search-box-icon {
  width: 24px;
  opacity: 40%;
}
.search-box-icon:hover {
  opacity: 100%;
}

.search--searchbox {
  border: none;
  opacity: 100%;
  font-size: 20px;
  color: #707070;
}
.search--searchbox:focus{
  text-align: left;
  outline: none;
}

.search--searchbox::placeholder {
  /* color: var(--primary); */
}
.search--button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  min-width: 24px;
  /* translate: -40px; */
  user-select: none;
  .search--icon {
    filter: brightness(0) saturate(100%) invert(7%) sepia(17%) saturate(520%)
      hue-rotate(222deg) brightness(93%) contrast(91%);
  }
}

.search--button {
  border: none;
}

/* Sort css: */
.sort {
  margin-right: 40px;
}
.sort--container {
  font-size: 0.7em;
  display: flex;
  border-radius: 5px;
  background-color: white;
  color: var(--thirdColor);
  padding: 5px;
  width: fit-content;
  box-shadow: 0 0px 10px #00000081;
}
.sort--label {
  display: flex;
}
.sort--selection {
  border: none;
  font-size: 1.5em;
  background-color: white;
  appearance: none;
  color: var(--thirdColor);
}
.sort--selection:focus {
  outline: none;
}

.sort--icon:hover {
  background-color: orange;
}
.sort--button-refresh {
  border: none;
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.sort--button-refresh-icon {
  width: 1.7em;
}
.sort--button-refresh-icon:hover {
  filter: invert();
  transition: 1s ease-in-out transform;
  transform: rotate(360deg);
}

.home {
  background-color: #4f9fa1;
  display: flex;
  flex-direction: column;
  height: 92.7vh;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='73.4' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d18' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f57d26' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6d2f' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f36' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d8523c' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc4541' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3a44' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23af3047' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%239f2848' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%238e2148' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%237e1c46' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236c1744' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235b1440' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234b113a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233a0e34' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232b0a2c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231E0324' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  .main {
    display: flex;
    flex-direction: column;
    align-self: left;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 100%;
    .title {
      line-height: 1em;
      font-size: 5.4em;
    }
    .action-box {
      display: flex;
      justify-content: center;
      column-gap: 2em;
      a {
        font-size: 1.5em;
        padding: 30px;
        width: 100%;
        border-radius: 2em;
      }
      .signup {
        text-align: center;
        align-self: center;
        border-color: none;
        background-color: #ffc329;
        box-shadow: 0 0px 30px #00000081;
        color: black;
      }
      .learn-more {
        text-align: center;
        border: 2px white solid;
        border-color: white;
      }
    }
  }
}
.user-info-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  /* border: 2px #ffffff solid; */
  background-color: white;
  border-radius: 30px;
  font-size: 0.9em;
  padding: 10px 10px;
  gap: 1em;
  max-height: 5em;
  width: 200px;
  .user-icon {
    width: 35px;
  }
  .username {
    font-size: 1.1em;
    color: black;
  }
  .email {
    font-size: 1em;
    color: #9b9b9b;
    /* font-size: 0.8em; */
  }
  .ellipsis {
    color: #1d1b20;
    font-size: 2em;
    line-height: 1dvh;
    font-weight: 1000;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
  }
}
