:root {
  /* // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900 */
  /*   
  .roboto-condensed-<uniquifier> {
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
   */

  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #8f8f8f;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainColor: #4f9fa1;
  --secondaryColor: #e7e7e7;
  --thirdColor: #575656;

  --primary: #525252;
  --primary-light: #474747;
  --secondary: #4da1a9;
  --third: #9a8f97;
  --fourth: #d7e8ba;
}
/* COLOR SCHEMES: */
/* FILTER:
https://angel-rs.github.io/css-color-filter-generator/
 */
/* #2ccebb */
body {
  height: 100%;
  margin: 0px;
}
html {
  height: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
  color: white;
}
/* style a to look like button */
.button {
  box-shadow: 0 0px 10px #00000081;
  font-size: 1.5em;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}
/* Home css: */

/* navbar css: */
.navbar {
  display: flex;
  align-items: center;
  column-gap: 90px;
  padding-left: 30px;
  background-color: white;
  /* box-shadow: 0 5px 10px #ffffff81; */

  color: rgb(0, 0, 0);
  a {
    color: rgb(0, 0, 0);
  }
}
.navbar--home-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  :hover {
    cursor: pointer;
  }
}
.navbar img {
  /* filter: brightness(0) saturate(100%) invert(74%) sepia(38%) saturate(805%)
    hue-rotate(118deg) brightness(89%) contrast(87%); */
  width: 70px;
  padding: 0.5em;
}
.action-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 2em;
  .signup {
    border: 1px rgb(126, 126, 126) solid;
    border-radius: 10px;
    padding: 0.6em;
  }
}

/* signin css: */
.signin-background {
  width: 194.2vh;
  height: 100vh;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #272727;
}
.signin {
  background-color: #303335;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px #ffffff solid;
  padding: 2em;
  border-radius: 20px;
  min-width: 15em;
  box-shadow: 0 0px 40px #00000081;
}
.signin h1 {
  text-align: center;
  margin: 0.2em;
}
.signin label {
  font-size: 0.6em;
}
.signin img {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(34%)
    hue-rotate(257deg) brightness(92%) contrast(84%);
}
.signin--input-box {
  display: flex;
  border-bottom: 0.1em #6e6969 solid;
  align-items: center;
  .input-field {
    padding: 0.3em;
    flex: 1;
    align-items: baseline;
  }
}

.bottom-signup {
}
.signin--input-box:hover {
  border-bottom: 0.1em white solid;
}
.btn {
  border: 1px white solid;
  border-radius: 10px;
}
.login {
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0px 30px #00000081;
  width: 100%;
}
.signin input {
  padding: 1em;
  width: 10em;
  border: none;
  background-color: transparent;
}
.signin input:focus {
  outline: none;
}
.signin--forgot-password {
  margin-top: 1em;
  font-size: 0.5em;
  text-align: right;
}
.signin--forgot-password a {
  color: #ffffff;
}
.signin--after-input-container {
  text-align: center;
  font-size: 0.5em;
}
.signin--login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    width: 100%;
  }
}
/* User Nav Bar */
.userNavBar {
  text-align: center;
  padding: 20px;
}
/* Discover css: */
.header-container {
  background-color: #6e98c9;
  display: flex;
  flex-direction: column;
  .search-bar {
    border-radius: 10px;
    box-shadow: 0 10px 10px #00000081;
    font-size: 0.7em;
    background-color: #5585bb;
    display: flex;
    align-items: center;
    column-gap: 4em;
    padding: 1em;
    .header {
      text-align: center;
      flex: 0.2;
      font-size: 3em;
      color: white;
    }
    .settings {
      background-color: white;
      cursor: pointer;
      margin-left: auto;

      /* border- */
      width: 3em;
    }
    .logout {
    }
    .logout:hover {
      cursor: pointer;
    }
  }
  .page-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .found {
      margin-left: 120px;
    }
    .page-container {
      display: flex;
      justify-content: center;
      column-gap: 1em;
      margin: 10px;
      .page {
        box-shadow: 0 0px 10px #00000081;
        border-radius: 5px;
        color: black;
        background-color: white;
        text-align: center;
        width: 25px;
        /* border: 1px white solid; */
        padding: 4px;
        cursor: pointer;
      }
    }
  }
}

.discover {
  display: flex;
  background-color: #6e98c9;
  height: 100%;
  width: 100%;
  .no-results {
    height: 100%;
    font-size: 1.5em;
    color: black;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .right-column {
    scroll-behavior: smooth;
    flex: 1;
    overflow-y: scroll;
    /* border-top: 22.39px #cfcfcf solid; */
    background-color: white;

    .card-grid {
      margin: 2em;
      /* display: grid;
      grid-template-columns: repeat(3, 20em);
      grid-template-rows: repeat(3, 20em);
      gap: 20px; */
      display: grid;
      /* grid-template-rows: 15em; */
      grid-auto-rows: 15em;
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
      gap: 1em;
    }

    .doc-card:hover {
      background-color: #d7eaff;
    }

    .doc-card {
      border-radius: 10px;
      box-shadow: 0 0px 10px #00000081;
      justify-self: center;
      display: flex;
      flex-direction: column;
      border-bottom: 1px rgb(189, 189, 189) solid;
      align-items: center;
      background-color: rgb(255, 255, 255);
      color: black;
      width: 100%;
      height: 100%;
      justify-content: center;

      down-icon {
        filter: contrast(0);
      }
      img {
        cursor: pointer;
        width: 1em;
        margin-left: auto;
        margin-right: auto;
      }
      .title-container {
        .title {
          flex: 2;
        }
      }
      .updated {
        text-align: center;
      }
      .project {
        text-align: center;
      }

      div {
        /* align-self: center;
        /* text-align: center; 
        flex: 5; */
      }
    }
  }
  .simulate-drop-down {
    background-color: crimson;
    padding: 0.1em;
  }
  .left-column {
    background-color: #6e98c9;
    height: 100%;

    .divider {
      /* animated to move left on close */
      display: flex;
      flex-direction: row-reverse;
      height: 100%;
      /* .right-split-placeholder {
        width: 15.4em;
        background-color: rgb(255, 255, 255);
      } */
      /* .right-split-background{
        background-color:#6e98c9;
      } */
      .right-split {
        background-color: #cfcfcf;
        border-top-left-radius: 10px;
        width: 1.4em;
        cursor: pointer;
        img {
          height: 100%;
          filter: brightness(0%);
          transform: rotate(90deg);
          /* transform: scale(10, 10); */
        }
      }
      .left-split {
        text-align: center;
        background-color: #6e98c9;
        height: 100%;
        width: 0px;
        /* cards: */
        .cards-flexbox {
          /* set card positioning */
          margin-top: 160px;
          margin-left: 10px;
          color: black;
          width: 14em;
          display: flex;
          flex-direction: column;
          padding: 0px;

          .card-container {
            padding-bottom: 20px;
            border-radius: 10px;
            /* padding-bottom: 100px; */
            /* OR USE DARKER BLUE: #5585bb */
            padding: 1em;
            background-color: #5585bb;
            /* background-color: #5585bb; */
            display: flex;
            flex-direction: column;
            color: white;
            box-shadow: 0 0px 20px #00000081;
            .card-header {
              padding: 0.5em;
              border-radius: 0.5em;
              text-align: center;
              width: 100%;
              align-self: center;
              font-size: 1.3em;
              margin: 0.2em;
              background-color: #436d9c;
              /* disable text selection to prevent accidental selections on click */
              -webkit-user-select: none; /* Safari */
              -ms-user-select: none; /* IE 10 and IE 11 */
              user-select: none; /* Standard syntax */
            }
            .card-item {
              text-align: start;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .card-header:hover,
            .card-item:hover {
              cursor: pointer;
            }
            .card-item:hover {
              background-color: rgb(95, 149, 196);
            }
          }

          /* animate cards */
          .card-view-animate:hover {
            margin-bottom: 130px;
            transition: 0.3s ease-in-out all;
          }
          .recently-viewed {
            z-index: 1;
            /* position: relative; */
          }
          .recent-bookmarks {
            z-index: 2;
            transform: translate(0, -135px);
          }
          .flagged {
            z-index: 3;
            transform: translate(0, -270px);
          }
          .notes {
            z-index: 4;
            transform: translate(0, -405px);
          }
        }
      }
    }
  }
}

/* ApiDocsViewer */
.apiDocViewer {
  background-color: rgb(211, 211, 211);
  overflow: scroll;
}
.scheme-container {
  background-color: rgb(219, 219, 219) !important;
}
/* hide labels: */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Search box css: */
.search--container {
  margin-left: auto;
  margin-right: auto;
  flex: 0.4;
  box-shadow: 0 0px 10px #00000081;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: white;
}
.search--searchbox {
  border: none;
  opacity: 100%;
  /* width: 2em; */
  font-size: 2em;
  color: #707070;
}

.search--searchbox:focus {
  transition: 0.5s ease;
  width: 180px;
  outline: none;
}

.search--searchbox::placeholder {
  color: #5585bb;
}
.search--icon {
  width: 2em;
  margin-left: 30px;
}
.clear--icon {
  width: 2.5em;
  margin-right: 30px;
}
.search--button {
  border: none;
}
.search--button:hover .search--icon {
  filter: invert(100%);
}

/* Sort css: */
.sort {
  margin-left: auto;
  margin-right: 40px;
}
.sort--container {
  font-size: 0.7em;
  display: flex;
  border-radius: 5px;
  background-color: white;
  color: var(--thirdColor);
  padding: 5px;
  width: fit-content;
  box-shadow: 0 0px 10px #00000081;
}
.sort--label {
  display: flex;
}
.sort--selection {
  border: none;
  font-size: 1.5em;
  background-color: white;
  appearance: none;
  color: var(--thirdColor);
}
.sort--selection:focus {
  outline: none;
}

.sort--icon:hover .sort--selection {
  background-color: red;
  display: block;
}
.sort--icon:hover {
  background-color: orange;
}
.sort--button-refresh {
  border: none;
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.sort--button-refresh-icon {
  width: 1.7em;
}
.sort--button-refresh-icon:hover {
  filter: invert();
  transition: 1s ease-in-out transform;
  transform: rotate(360deg);
}

.home {
  background-color: #4f9fa1;
  display: flex;
  flex-direction: column;
  height: 92.7vh;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='73.4' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d18' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f57d26' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6d2f' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f36' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d8523c' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc4541' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3a44' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23af3047' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%239f2848' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%238e2148' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%237e1c46' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236c1744' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235b1440' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234b113a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233a0e34' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232b0a2c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231E0324' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  .main {
    display: flex;
    flex-direction: column;
    align-self: left;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 100%;
    .title {
      line-height: 1em;
      font-size: 5.4em;
    }
    .action-box {
      display: flex;
      justify-content: center;
      column-gap: 2em;
      a {
        font-size: 1.5em;
        padding: 30px;
        width: 100%;
        border-radius: 2em;
      }
      .signup {
        text-align: center;
        align-self: center;
        border-color: none;
        background-color: #ffc329;
        box-shadow: 0 0px 30px #00000081;
        color: black;
      }
      .learn-more {
        text-align: center;
        border: 2px white solid;
        border-color: white;
      }
    }
  }
}
